<section>

	<h3 id = "about-me">About Myself</h3>
	<div class = "icon-region"> 
		<div class = "face"><img src= "https://ramyasusarla.github.io/personal-site/assets/img/pfp.png" alt="Computer Icon" width="200" height="200"></div>

		<div class = "icon-computer"><img src= "../assets/img/icon-computer.png" alt="Computer Icon" width="100" height="100"></div>
		<div class = "icon-brain"><img src= "../assets/img/icon-brain.png" alt="Brain Icon" width="100" height="100"></div>
		<div class = "icon-cloud"><img src= "../assets/img/icon-cloud.png" alt="Cloud Icon" width="100" height="100"></div>
		<div class = "icon-book"><img src= "../assets/img/icon-book.png" alt="Book Icon" width="100" height="100"></div>
	</div>

	<div class = "about-p">
	<p><strong>I'm a Computer Science and Statistics Major at UVA.</strong> I'm interested in learning more about artificial intelligence, machine learning, and the cloud. Recently, I've been fascinated with the intersection of finance and programming. I also love to read and listen to podcasts - check out what I've consumed below. Feel free to reach out!</p>
	</div>
</section>
