<section class = "section-contact ">
	<h3 id = "contact"> Contact </h3>

	<div class = "social-links">
		<a href ="https://github.com/ramyasusarla" class = "icon-github"><img src= "https://ramyasusarla.github.io/personal-site/assets/img/github-logo.png" alt="Github Icon" width="50" height="50"></a>
		<a href ="https://www.linkedin.com/in/ramya-susarla-8b54aa174" class = "icon-linkedin"><img src= "https://ramyasusarla.github.io/personal-site/assets/img/linkedin-logo.png" alt="LinkedIn Icon" width="50" height="50"></a>
		<a href ="http://www.ramyasusarla.wordpress.com" class = "icon-wp"><img src= "https://ramyasusarla.github.io/personal-site/assets/img/wp-logo.png" alt="Wordpress Icon" width="50" height="50"></a>
	</div>

</section>
