<section>
	<h3 id = "#random"> Highlights </h3>
	
	<div class = "scroll-controls">
		<div class = "control-next"></div>
		<div class = "control-prev"></div>

	</div>
	<div class = "scroll-belt">
		<div class = "scroll-unit">
			<div class = "scroll-pic">
				<img src="" alt ="scroll pic">

			</div>

			<div class = "scroll-content">
				<p> RANDOM CONTENT RIGHT HERE</p>
			</div>
		</div>
	</div>

	<div class = "scroll-control">
		<div class = "control-active">
			
		</div>
		<div class = "control">
			
		</div>
	</div>

</section>