.icon-region
	max-width: 780px
	+display(flex)
	margin: 0 auto
	+align-items(center)
	+justify-content(space-around)
	
		
	.face
	 order: 3

	[class^="icon-"]
	 border-radius: 50%

	 &.icon-computer
	  order: 1
	 &.icon-brain
	  order: 2
	 &.icon-cloud
	  order: 4
	 &.icon-book
	  order: 5 

.about-p
	max-width: 620px
	padding: 0px 15px
	margin: 50px auto
	font-size: 18px
	text-align: center
	font-weight: 300
	color: grey


