html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
<<<<<<< HEAD
  margin: 0;
}
=======
  margin: 0; }
>>>>>>> stylelint

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
<<<<<<< HEAD
  display: block;
}
=======
  display: block; }
>>>>>>> stylelint

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
<<<<<<< HEAD
  display: none;
}
=======
  display: none; }
>>>>>>> stylelint

a {
  background: 0 0;
}

a:active,
a:hover {
<<<<<<< HEAD
  outline: 0;
}
=======
  outline: 0; }
>>>>>>> stylelint

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
<<<<<<< HEAD
  font-weight: 700;
}
=======
  font-weight: 700; }
>>>>>>> stylelint

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
<<<<<<< HEAD
  margin: 0.67em 0;
}
=======
  margin: 0.67em 0; }
>>>>>>> stylelint

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
<<<<<<< HEAD
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
=======
  top: -0.5em; }

sub {
  bottom: -0.25em; }
>>>>>>> stylelint

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
<<<<<<< HEAD
  overflow: auto;
}
=======
  overflow: auto; }
>>>>>>> stylelint

code,
kbd,
pre,
samp {
<<<<<<< HEAD
  font-family: monospace, monospace;
  font-size: 1em;
}
=======
  font-family: monospace,monospace;
  font-size: 1em; }
>>>>>>> stylelint

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
<<<<<<< HEAD
  overflow: visible;
}

button,
select {
  text-transform: none;
}
=======
  overflow: visible; }

button,
select {
  text-transform: none; }
>>>>>>> stylelint

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
<<<<<<< HEAD
  cursor: default;
}
=======
  cursor: default; }
>>>>>>> stylelint

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
<<<<<<< HEAD
  height: auto;
}
=======
  height: auto; }
>>>>>>> stylelint

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
<<<<<<< HEAD
  -webkit-appearance: none;
}
=======
  -webkit-appearance: none; }
>>>>>>> stylelint

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
<<<<<<< HEAD
  padding: 0.35em 0.625em 0.75em;
}
=======
  padding: 0.35em 0.625em 0.75em; }
>>>>>>> stylelint

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
<<<<<<< HEAD
  padding: 0;
}
=======
  padding: 0; }
>>>>>>> stylelint

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
<<<<<<< HEAD
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}
=======
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff'); }
>>>>>>> stylelint

.gigantic,
.huge,
.large,
.bigger,
.big,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #bd5248;
  font-weight: bold;
}

.gigantic {
  font-size: 110px;
<<<<<<< HEAD
  line-height: 1.09;
  letter-spacing: -2px;
}
=======
  letter-spacing: -2px;
  line-height: 1.09; }
>>>>>>> stylelint

.huge,
h1 {
  font-size: 68px;
<<<<<<< HEAD
  line-height: 1.05;
  letter-spacing: -1px;
}
=======
  letter-spacing: -1px;
  line-height: 1.05; }
>>>>>>> stylelint

.large,
h2 {
  font-size: 42px;
  line-height: 1.14;
}

.bigger,
h3 {
  font-size: 26px;
  line-height: 1.38;
}

.big,
h4 {
  font-size: 22px;
  line-height: 1.38;
}

.small,
small {
  font-size: 10px;
  line-height: 1.2;
}

p {
<<<<<<< HEAD
  margin: 0 0 20px 0;
}
=======
  margin: 0 0 20px; }
>>>>>>> stylelint

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
<<<<<<< HEAD
  margin: 10px 0 30px;
  height: 0;
}

a {
  color: #bd5248;
  text-decoration: none;
  outline: 0;
}

a:hover,
a:focus {
  color: #d89993;
}
=======
  height: 0;
  margin: 10px 0 30px; }

a {
  color: #bd5248;
  outline: 0;
  text-decoration: none; }

a:hover,
a:focus {
  color: #d89993; }
>>>>>>> stylelint

::selection {
  background: #fff498;
}

::-moz-selection {
  background: #fff498;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #fff498;
}

body {
  background: #f6f6f8;
  color: #2e2d33;
  font-family: 'Open Sans' sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
<<<<<<< HEAD
  -webkit-text-size-adjust: 100%;
}
=======
  line-height: 1.6;
  -webkit-text-size-adjust: 100%; }
>>>>>>> stylelint
